author:
  name: James Bond
  github: james-bond
  email: j.bond@m16.org
  img: http://upload.wikimedia.org/wikipedia/en/c/c5/Fleming007impression.jpg
  biography: "
  My name is Bond, James Bond.
  I am an intelligence officer in the 'Secret Service'.
  I am also known by my code number, 007, and am a Royal Naval Reserve Commander.
  "
blog:
  title: Tomorrow Never Dies
  description: "Get news on the latest villains and other secret agent related information."
