- content_for :title, 'Settings'
%h1 Settings
= form_tag nil, action: '/settings/edit', method: 'put' do
  - UserSettings.all.each do |setting|
    %p
      = label_tag setting.var, setting.var.humanize
      = text_field_tag setting.var, setting.value.to_s, class: 'form-control'
      %span.help-block= @help_hash[setting.var.to_sym].to_s
  %button.btn.btn-primary.btn-lg Save
