%div{style: 'background-color:#EEE;border-radius:10px;padding:20px;margin-left:50px'}
  %h3{style: 'margin-top:0'} Tip
  %p Use the link below to upload a new file (in a new window or tab) and when done, place the link in the box above.
  = link_to "Upload a File", new_uploaded_file_path, class: 'btn btn-primary', target: '_blank', style: 'display:inline'
