%h2
  Interested in my profile, but not ready to call me in yet ?
  Instead of bookmarking my profile, 
  Why not sign up for an automatic email reminder ?

%button{:class => 'btn btn-primary'} Subscribe !

