%div{style: 'width:100%;background: url("http://travaux-lib.bcaron.me/background.jpg");min-height:500px', align: 'center'}
  %h1{style: 'padding-top:30px;font-size:50px;line-height:55px;font-weight:300'} Take your CV to the 21st century
%div{style: 'width:100%;background-color:#eee;padding-top:30px', align: 'center'}
  %div{style: 'float:left;width:33%;padding:3%'} 
    %i.fa.fa-at{{style: 'font-size:80px'}}
    = puts '<i class="fa fa-at"></i>'
    %h2{style: 'margin-top:2px'} Simple CMS System
    %p
      Manage your complete profile as you do your groceries: all your education, experiences, skills can be incorporated
      in a comprehensive database; exportable should you need it.
  %div{style: 'float:left;width:33%;padding:3%'}
    %i.fa.fa-area-chart{style: 'font-size:80px'}
    %h2{style: 'margin-top:2px'} Advanced interactivity
    %p
      Forget about LinkedIn profiles, where you need to summon the spirit of the Internet to get something a simple as a bullet point(), let
      alone produce a link.
  %div{style: 'float:left;width:33%;padding:3%'}
    %i.fa.fa-lastfm{style: 'font-size:80px'}
    %h2{style: 'margin-top:2px'} Protected Contact
    %p
      Don't let your professional email address be reachable by every spam-bot.
      Instead, use this protected Contact form to let people contact you.
  %div{style: 'clear:both'}
