<div style="margin:0 50px">
  <h1 style="color:#F09819">Curriculum</h1>
  <hr>
  
  <%= render :file => 'educations/index' %>
  <%= render :file => 'internships/index' %>
  <%= render :file => 'referees/index' %>
  <br>
</div>
