# The present YAML file is loaded as Settings in config/initializers/load_config.rb

# Disclaimer displayed at the bottom of the page, in the footer
disclaimer: "Powered by <a href='http://bcaron.me'>B.Caron</a>"  

# Complete Domain Name
domain-name: "cv.johndoe.me"

# Display the 'Fork on Github' footer
display-footer: true

# Use Piwik Analytics
# Piwik settings are given in a separate config file config/piwik.yml
# A template file is provided (config/piwik.yml.example)
use-piwik: false

# Display the 'promotional' About page in the navbar
display-about-page: false

# Name of the service for starting/stoping/restarting the App
service-name: "cv"

# Google Analytics ID (Ex: 'UA-12345678-1'). Empty string to disable
google-analytics-id: ""

# Enable Email Notifications for 500 Errors
send-email-500-error:
  enabled: false
  email: 'admin@local.host'

# Control which sections are displayed on the curriculum, and in which order.
# Also controls which ones are displayed in the navbar.
available-sections: 'educations internships work_experiences programming_skills skills awards publications softwares referees'

# Enable HTML editor (Not free for commercial use, see: https://editor.froala.com)
enable-html-editor: true

# Display a 'Fork me on Github' ribbon
display-github-ribbon: true

# Use and link to a minimalistic blog engine where you can post
use-blog-engine: true
