# The present YAML file is loaded as Settings in config/initializers/load_config.rb

name: "John Doe"

# Title of the website, as displayed in the navbar
page-title: "Curriculum Vitae"

# CV Title
cv-title: "Web Developer"

# Alternate CV title displayed when hovering over CV title. Comment out to disable this effect.
cv-title-alt: "Secret Agent ?"

# Disclaimer displayed at the bottom of the page, in the footer
disclaimer: "Powered by <a href='http://bcaron.me' >B.Caron</a>"  

# Email receiving the messages sent via the Contact Form
email: admin@john-doe.me

social-media:
  github: john-doe # Github username
  stack-overflow-id: 1234567 # Stack overflow ID; your profile link is http://stackoverflow.com/users/{StackOverflow_ID}/{StackOverflow_UserName}
  stack-overflow-name: jdoe  # Stack overflow Name; your profile link is http://stackoverflow.com/users/{StackOverflow_ID}/{StackOverflow_Name}

mobile-phone: "0 123 456 7 8"
address: "61 Horsen Ferry Road, London S1"
infos: "42 years old, can breath underwater"

domain-name: "cv.johndoe.me"

# Display the 'Fork on Github' footer
display-footer: true

# Use Piwik Analytics
# Piwik settings are given in a separate config file config/piwik.yml
# A template file is provided (config/piwik.yml.example)
use-piwik: false

# Display the 'promotional' About page in the navbar
display-about-page: true
