/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

#blog-title {
  margin-top:40px;
  font-size: 22px;
}

.justified {
  text-align: justify;
}

div.author-side {
  position: absolute;
  width: 19.66667%;
  margin-left: 4.16667%;
  margin-right: 1.16667%;
}

#author-img {
  border-radius: 50%;
}

#author-side-links {
  padding-left: 0;
}


#author-side-links li{
  list-style-type: none;
}

#index {
  position:relative;
  left: 25%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  width: 75%;
}

#blog-description {
  font-size: 115%;
}

.article-date {
  float:right;
}

#all-articles {
  border-bottom: 1px solid #000;
}

#footer {
  margin-top: 100px;
}
