.author-side
  %h2
    =link_to "Blog Title", root_path
  %img
  %h2 Author
  %p Author biography.
  %ul.author-side-links
    %a
      %li
        = fa_icon "envelope-square"
        Email
    %a
      %li
        = fa_icon "github-square"
        Github
