%div#footer
  © 2015
  = link_to 'Bertrand Caron', 'https://bcaron.me'
  \. Powered by
  = link_to 'Ruby on Rails', 'http://rubyonrails.org'
  using the
  = link_to 'rails-blog', 'https://rubygems.org/gems/rails-blog'
  gem.
