%script $(document).ready(function () { $("[data-toggle='popover']").popover(); });
= render partial: 'pages/listable_index', locals: {:pretty_model_name => 'Referees', :listable_enum => Referee.all, :new_item_path => new_referee_path}
