// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cv-name-header{
	p{
	margin-bottom:0;
	}
	a{
	color:#888;
	}
}

.breadcrumb > li + li::before
{
	content: '/';
	padding: 0 3px;
}

h2 .fa:hover{color:#c97c0d;}

.edit-tools {
	display:inline;
	padding-left:3px;
	font-size:14px;
	visibility:hidden;
	a{
		font-size:15px;
		line-height:10px;
		margin-bottom:10px;
	}
}


.visible {
	visibility:visible
}

.listable-content{
	margin-left:25px;
	hr {
		margin-top:0px;
		clear:left;
	}
}

.listable-title{
	color:#F09819;
	span {
		font-size:30px;
	}
}


.listable-item, .listable-comment {
	margin-top:20px;
	width:100%;
	background:#EEEEEE;
	border-radius:10px;
	padding:20px;

	h3 {
		display:inline;
		font-size:23px;
		font-weight:300;
		line-height:30px;
	}

	.first-line, .second-line{
		width:100%;
		overflow: hidden;
	}

	.third-line {
		width:100%;
	}

	.bottom-line{
		font-size:9px;
	}

	.line--left-content{
		h3 {
			color:#428bca;
		}
		width:85%;
		float:left;
	}

	.line--right-content{
		float:right;
	}
	
	.line--right-content, .third-line {
		padding-right:10px;
	}

}

.big-text {
	font-size:14px;
	line-height:auto;
}

.field {
	clear:both;
	margin-bottom:20px;
	label{
		font-size:25px;
		line-height:32px;
		font-weight:300;
	}
}

.field-rank, .field-gender, .field-ranking {
	input, select{
		float:left;
		margin-top:5px;
		margin-right:20px;
	}
}

.field-rank {
	input, select{width:75px;}
}

.field-gender {
	overflow:hidden;
	input, select{width:150px;}
	p{padding-top:6px}
}

.field-ranking {
	input, select{width:50px;}
}

.field-referee {
	input, select{width:40%;}
}

#buttons .btn-info, .btn-primary, .btn-primary:hover {
	border-color:#c2d8eb;
}

#about-table {
	h2 {
		font-weight:300;
	}
	p {
		font-size:20px;
		line-height:25px;
		padding:0 9%;
	}
	table {
		tbody td {
			font-size:20px;
			padding: 10px 10px;
		}
		tr:nth-child(odd){
			background-color:#ddd;
		}
		tr:nth-child(even){
			background-color:#eee;
		}
		tr:last-child{
			background-color:#ddd;
		}
	}
}

#about-pricing{
	h1 {
		margin-bottom:10px;
	}
	h2 {
		font-weight:300;
	}
	p, li {
		font-size:20px;
		line-height:25px;
	}
	span {
		background-color:#FFF;
		border-radius: 10px;
		border : #EEE solid 1px;
		padding-left: 10px;
		padding-right: 10px;
		text-align:center;
	}
	table {
		tbody td {
			font-size:20px;
			padding: 10px 10px;
			text-align:center;
		}
		tr:nth-child(odd){
			background-color:#eee;
		}
		tr:nth-child(even){
			background-color:#ddd;
		}
		th {
			background-color:#ddd;
			font-size:20px;
			padding: 10px 10px;
			text-align:center;
		}
	}
	.right {
		text-align:right;
	}
}

.social-icon {
	display:inline;
}
#social-icons {
	li:nth-child(n+2):before {
		content: "•";
		margin: 0px 5px;
	}
}

