// Place all the styles related to the ProgrammingSkills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.markdown-jumbotron{

	h1,h2,h3,h4,h5{
	margin:10px 15px;
	padding-bottom: 0.3em;
	border-bottom:1px solid #ccc;
	}

	h1{
        font-size:24px;
	}
	h2{
	font-size:18px;
	}
	h3{
	font-size:14px;
	}
	h4{
	font-size:12px;
	}
	h5{
	font-size:10px;
	}
	p{
	padding-left:15px
	}

}

#Programming_Skills-content .listable-item{
	height:auto;
	clear:both;
	padding:7px 20px;
	margin-top:7px;
}

.first-line--programming-skill {
	display:inline;
	float:left;
	font-size:23px;
	line-height:37px;
	color:#428bca
}
