// Place all the styles related to the Referees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Referees-content .listable-item {
	//height:102px;
	padding-bottom:2px;

	li{
		display:block;
		float:left;
	}

	li~li{
		padding-left: 15px;
		//border-left: 1px solid #000000;
	}
}
