<div class="jumbotron">
    <a class="btn btn-primary btn-lg" role="button">Learn more</a>
    <br>
    <%= raw Settings['disclaimer'] %>
</div>


<% if signed_in? %>
You are signed in as <%= link_to current_user.name, current_user %> |
<%= link_to "Sign Out", signout_path, method: "delete" %>
<% end %>
